


*, *:before, :after {
    box-sizing:border-box;
  }
  
  :root {
    --sec-spacer:6em;
  }
  
  .container {
      width: 72ch;
      margin: 50px auto;
      font-family:'Playfair Display',;
      color: darkcyan;
      position:relative;
      background-color: lightgray;
  }
  
  section {
    border:1px solid #dadada;
    padding:1em;
    margin-bottom:var(--sec-spacer);
  }

  section h2 {
    text-align: center;
  }
  
  input[type="text"]{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 10px;
  }
  
  ul {
      list-style-type: none;
      padding: 0;
  }
  
  li {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
  }

  li:hover {
  font-weight: 900;
  font-style: italic;
  }
  
  li:last-child {
      border-bottom: none;
  }
  
  .input-cb {
    margin: 10px 0;
  }
  
 
.input-cb input[type="checkbox"],
.input-cb input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 32px;
    height: 32px;
    border: 3px solid darkcyan;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}
.input-cb input[type="checkbox"]:checked::before,
.input-cb input[type="radio"]:checked::before {
    content: '\2713'; 
    font-size: 30px;
    color: #007bff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-cb input[type="checkbox"]:hover,
.input-cb input[type="radio"]:hover {
    border-color: #b31200;
    cursor: pointer;
}

.input-cb input[type="checkbox"]:focus,
.input-cb input[type="radio"]:focus {
    outline: none;
}

  
  label {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 10px;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
      margin-right: 5px;
  }
  
  div > label:not(:last-child) {
      margin-bottom: 10px;
      display:block;
  }